<div class="row">
    <div class="paper-content well paper">
        <form role="form" class="form-horizontal" ng-submit="st.submit()">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__email">邮箱</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{[{ st.email }]}</p>
                    <!-- <input class="form-control" type="text" id="setting__email" readonly  /> -->
                </div> 
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__username">用户名</label>
                <div class="col-sm-9">
                    <p class="form-control-static"> {[{st.username}]} </p>
                    <!-- <input class="form-control" id="setting__username" readonly ng-model="st.username" />     -->
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__avatar">头像</label>
                <div class="col-sm-9">
                    <img ng-src="{[{ st.avatar }]}" height="40" width="40" alt="avatar">
                    <input id="setting__avatar" class="form-control" type="file" ng-file-select ng-model="st.avatar" />
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__realname">真实姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__realname" ng-model="st.realname" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__company">公司</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__company" ng-model="st.company" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__title">职位</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__title" ng-model="st.title" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__location">位置</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__location" ng-model="st.location" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__twitter">Twitter</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__twitter" ng-model="st.twitter" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__github">Github</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__github" ng-model="st.github" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__weibo">Weibo</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__weibo" ng-model="st.weibo" />    
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="setting__instagram">Instagram</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="setting__instagram" ng-model="st.instagram" />    
                </div>
            </div>
            
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">
                    保存
                </button>
            </div>
        </form>
        
    </div>
</div>
